.THIS {
    width: 100%;
    padding: 15px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.THIS > div {
    text-align: center;
}
.THIS .listing span {
    text-align: center;
    margin-top: 5px;
}
.THIS .listing img {
    width: 90px;
    cursor: pointer;
}
.THIS .earnMore {
    margin-top: auto;
}
.THIS .earnMore,
.THIS .earnMore a {
    color: #2e6fcc;
    font-weight: 600;
}
.THIS .earnMore a:hover {
    text-decoration: none;
}
.THIS .actionscb {
    margin-top: 6px;
}