.THIS .modal-body {
	padding: 0;
}
.THIS .modal-header {
	font-size: 16px;
    font-weight: bold;
}
.THIS .main {
	padding: 15px;
}
.THIS .slds-button {
	color: #2e6fcc;
	border-radius: 0;
	font-weight: 400;
}
.THIS .slds-button_brand, .THIS .slds-button--brand {
	background-color: #2e6fcc;
    border-color: #2e6fcc;
    color: #fff;
    text-shadow: none;
}
.THIS .justify {
	justify-content: space-between;
}

 .THIS .maxInput {
 	max-width: 414px;
 	margin-bottom: 20px;
 }
.THIS .slds-form-element__label {
	position: absolute;
	top: -5px;
}
.THIS .topMargin {
	margin-top: 15px;
}
.THIS .bottomMargin {
	margin-bottom: 15px;
}
.THIS .socialimage {
    z-index:0;
            margin-left: 0px; 
            padding-right: 48px; 
            margin-top: 20px;
            margin-right: 65px; 
        width: 48px;
        height: 48px;
        }
.THIS .facebook {
            background-image: url("https://cdn.oneunited.com/images/sf/advocate/fb.png"); 
            
        }
.THIS .twitter {
            background-image: url("https://cdn.oneunited.com/images/sf/advocate/tw.png"); 
            
        }
.THIS .instagram {
            background-image: url("https://cdn.oneunited.com/images/sf/advocate/in.png"); 
            
        }