<apex:component >

    <div style="padding-left: 30px;width: 600px;">
        
        <br />
        
        <div class="customsectiontitleTop">
            <h1>We're sorry, something went wrong processing your request.</h1>
        </div>
        
        <p>If this is the first time you have seen this message, you can try applying again through:</p>
        
        <p><a style="text-decoration:underline;" href="http://www.unityvisa.com">http://www.unityvisa.com</a></p>
        
        <p>If you still get this message, please contact us at 877-663-8648 and we’ll figure this out together.</p>
        
    </div>
    
</apex:component>