.THIS {
    padding: 20px;
}
.THIS .description {
    margin: 10px 0 30px !important;
}
.THIS .description,
.THIS .moreTitle {
    text-align: center;
}
.THIS .description,
.THIS .moreDescription {
    color: #808080;
}
.THIS .point {
    width: 170px;
    height: 170px;
    margin: 20px;
    cursor: pointer;
    border: 4px solid #263982;
    border-radius: 50%;
}

.THIS .point10
{
width: 170px;
height: 170px;
margin: 20px;
cursor: pointer;
border: 4px solid #e88463;
background-color: #f0c4b5 ;
border-radius: 50%;
}

.THIS .point100
{
width: 170px;
height: 170px;
margin: 20px;
cursor: pointer;
border: 4px solid #6ea81c;
background-color: #a7c17a;
border-radius: 50%;
}

.THIS .point200
{
width: 170px;
height: 170px;
margin: 20px;
cursor: pointer;
border: 4px solid #e8aa3a;
background-color: #f7d08a;
border-radius: 50%;
}

.THIS .point500
{
width: 170px;
height: 170px;
margin: 20px;
cursor: pointer;
border: 4px solid #215875;
background-color: #489bb4 ;
border-radius: 50%;
}

.THIS .point600
{
width: 170px;
height: 170px;
margin: 20px;
cursor: pointer;
border: 4px solid #4d4f56;
background-color: #878993 ;
border-radius: 50%;
}

.THIS .point1000
{
width: 170px;
height: 170px;
margin: 20px;
cursor: pointer;
border: 4px solid #c43a3f;
background-color: #e07982;
border-radius: 50%;
}

.THIS .point2000
{
width: 170px;
height: 170px;
margin: 20px;
cursor: pointer;
border: 4px solid #728f89;
background-color: #8aac9f;
border-radius: 50%;
}

.THIS .point3000
{
width: 170px;
height: 170px;
margin: 20px;
cursor: pointer;
border: 4px solid #c58e01;
background-color: #454955;
border-radius: 50%;
}
.THIS .point img {
    max-width: 95%;
}
.THIS .point .pointName {
    text-align: center;
}

.THIS .point10 .pointName, .THIS .point100 .pointName, .THIS .point200 .pointName, .THIS .point500 .pointName, .THIS .point600 .pointName, .THIS .point1000 .pointName, .THIS .point2000 .pointName, .THIS .point3000 .pointName
{
	text-align: center; color:#ffffff; line-height:1.2em;
}

.THIS .point10 H1, .THIS .point100 H1, .THIS .point200 H1, .THIS .point500 H1, .THIS .point600 H1, .THIS .point1000 H1, .THIS .point2000 H1, .THIS .point3000 H1
{
	color: #ffffff;
}

.THIS .moreTitle {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
}
.THIS .optionsCB {
    margin-right: 50px;
}
@media (max-width: 767px) {
    .THIS .optionsCB {
        margin-right: 0;
    }
}