.THIS {
    width: 100%;
    min-width: 616px;
    padding: 15px;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
}
.THIS .topCard {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-wrap: wrap;
}
.THIS .bottomCard {
	display: flex;
	justify-content: space-between;
	padding: 5px 50px;
	font-size: 16px;
	line-height: 23px;
	color: rgb(0,0,0);
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	text-align: center;
	margin-bottom: 35px;
}
.THIS .bottomCard .value {
	font-size: 32px;
	line-height: 46px;
	color: rgb(46,111,204);
	font-family: "Raleway";
	font-weight: bold;
}
.THIS .profile-pic {
	position: relative;
	display: inline-block;
	margin: 0 auto;
}
.THIS .profile-pic:hover .edit {
	display: block;
}
.THIS .edit {
	position: absolute;
    bottom: 2px;
    display: none;
    background: rgba(0,0,0,0.2);
    text-align: center;
    margin-left: 50px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 2px 7px;
}
.THIS .edit button {
	font-size: 17px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #C1A396;
    font-family: "Raleway";
    font-weight: 600;
    text-decoration: none;
}
.THIS .edit button:active,.THIS .edit button:focus {
	box-shadow: none;
}
.THIS .smallPhotoUrl {
	width: 150px;
    border: 3px solid #d9b558;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 150px;
    object-fit: cover;
}
.THIS .cardtitle {
	text-transform: capitalize;
    font-size: 33px;
    letter-spacing: 1px;
    line-height: 47px;
    color: rgb(0,0,0);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    max-width: 313px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .cardsubtitle {
	font-size: 16px;
	line-height: 23px;
	color: rgb(0,0,0);
	font-family: "Raleway", sans-serif;
}
.THIS .cardsubtitle span {
	color: grey;
}
.THIS .cardmedia img {
	margin-right: 5px;
	margin-top: 10px;
	vertical-align: bottom;
	width:	25px;
}
.THIS .cardmedia .editProfile {
	margin-left: 2px;
	text-decoration: underline;
	font-size: 13px;
	letter-spacing: 0px;
	line-height: 19px;
	color: rgb(46,111,204);
	font-family: "Raleway", sans-serif;
	font-weight: 600;
}
.THIS .cardmedia .editProfile button:focus {
	box-shadow: none;
}
.THIS .cardmedia .editProfile button:focus {
	background: none;
}
.THIS .pTitle {
	font-size: 21px;
	line-height: 30px;
	color: rgb(0,0,0);
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	padding: 15px 50px;
}
.THIS .rightTop {
	margin: 10px auto;
}

@media (max-width: 616px) {
    .THIS {
        min-width: 100%;
    }
    .THIS .pTitle {
    	padding: 0;
    	margin-top: 20px;
    }
    .THIS .bottomCard {
    	padding: 0;
    }
}