.THIS .custominputfieldcontainerMultipleFieldsSecondFieldcont select{
                background: url("https://cdn.oneunited.com/core/content/themes/OneUnited-Bank-Responsive/responsive/images/select_arrow.gif") right center no-repeat;
                padding-right: 20px;
            }
/*
.THIS img.wp-smiley, .THIS img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
*/
.THIS .logoContainer {
    background-image: url("https://cdn.oneunited.com/core/content/uploads/2013/08/oneunited-logo.png");
    
    height:31px;
    width:247px;
}
/*
.THIS input[type="checkbox"] {
	    width: 10% !important;
	}
*/
/*
.THIS .ui-helper-hidden{display:none}
.THIS .ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.THIS .ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.THIS .ui-helper-clearfix:before,.THIS .ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}
.THIS .ui-helper-clearfix:after{clear:both}
.THIS .ui-helper-clearfix{min-height:0}
.THIS .ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}
.THIS .ui-front{z-index:100}
.THIS .ui-state-disabled{cursor:default!important}
.THIS .ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}
.THIS .ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}
.THIS .ui-resizable{position:relative}
.THIS .ui-resizable-handle{position:absolute;font-size:0.1px;display:block}
.THIS .ui-resizable-disabled .ui-resizable-handle,.THIS .ui-resizable-autohide .ui-resizable-handle{display:none}
.THIS .ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}
.THIS .ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}
.THIS .ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}
.THIS .ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}
.THIS .ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}
.THIS .ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}
.THIS .ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}
.THIS .ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}
.THIS .ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black}
.THIS .ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;margin-top:2px;padding:.5em .5em .5em .7em;min-height:0}
.THIS .ui-accordion .ui-accordion-icons{padding-left:2.2em}
.THIS .ui-accordion .ui-accordion-noicons{padding-left:.7em}
.THIS .ui-accordion .ui-accordion-icons .ui-accordion-icons{padding-left:2.2em}
.THIS .ui-accordion .ui-accordion-header .ui-accordion-header-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}
.THIS .ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;overflow:auto}
.THIS .ui-autocomplete{position:absolute;top:0;left:0;cursor:default}
.THIS .ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}
.THIS .ui-button,.THIS .ui-button:link,.THIS .ui-button:visited,.THIS .ui-button:hover,.THIS .ui-button:active{text-decoration:none}
.THIS .ui-button-icon-only{width:2.2em}.THIS button.ui-button-icon-only{width:2.4em}
.THIS .ui-button-icons-only{width:3.4em}.THIS button.ui-button-icons-only{width:3.7em}
.THIS .ui-button .ui-button-text{display:block;line-height:normal}
.THIS .ui-button-text-only .ui-button-text{padding:.4em 1em}
.THIS .ui-button-icon-only .ui-button-text,.THIS .ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}
.THIS .ui-button-text-icon-primary .ui-button-text,.THIS .ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}
.THIS .ui-button-text-icon-secondary .ui-button-text,.THIS .ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}
.THIS .ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}.THIS input.ui-button{padding:.4em 1em}
.THIS .ui-button-icon-only .ui-icon,.THIS .ui-button-text-icon-primary .ui-icon,.THIS .ui-button-text-icon-secondary .ui-icon,.THIS .ui-button-text-icons .ui-icon,.THIS .ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px}
.THIS .ui-button-icon-only .ui-icon{left:50%;margin-left:-8px}
.THIS .ui-button-text-icon-primary .ui-button-icon-primary,.THIS .ui-button-text-icons .ui-button-icon-primary,.THIS .ui-button-icons-only .ui-button-icon-primary{left:.5em}
.THIS .ui-button-text-icon-secondary .ui-button-icon-secondary,.THIS .ui-button-text-icons .ui-button-icon-secondary,.THIS .ui-button-icons-only .ui-button-icon-secondary{right:.5em}
.THIS .ui-buttonset{margin-right:7px}
.THIS .ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}.THIS input.ui-button::-moz-focus-inner,.THIS button.ui-button::-moz-focus-inner{border:0;padding:0}
.THIS .ui-datepicker{width:17em;padding:.2em .2em 0;display:none}
.THIS .ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}
.THIS .ui-datepicker .ui-datepicker-prev,.THIS .ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}
.THIS .ui-datepicker .ui-datepicker-prev-hover,.THIS .ui-datepicker .ui-datepicker-next-hover{top:1px}
.THIS .ui-datepicker .ui-datepicker-prev{left:2px}
.THIS .ui-datepicker .ui-datepicker-next{right:2px}
.THIS .ui-datepicker .ui-datepicker-prev-hover{left:1px}
.THIS .ui-datepicker .ui-datepicker-next-hover{right:1px}
.THIS .ui-datepicker .ui-datepicker-prev span,.THIS .ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}
.THIS .ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}
.THIS .ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}
.THIS .ui-datepicker select.ui-datepicker-month,.THIS .ui-datepicker select.ui-datepicker-year{width:49%}
.THIS .ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}
.THIS .ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}
.THIS .ui-datepicker td{border:0;padding:1px}
.THIS .ui-datepicker td span,.THIS .ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}
.THIS .ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}
.THIS .ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}
.THIS .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}
.THIS .ui-datepicker.ui-datepicker-multi{width:auto}
.THIS .ui-datepicker-multi .ui-datepicker-group{float:left}
.THIS .ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}
.THIS .ui-datepicker-multi-2 .ui-datepicker-group{width:50%}
.THIS .ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}
.THIS .ui-datepicker-multi-4 .ui-datepicker-group{width:25%}
.THIS .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.THIS .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}
.THIS .ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}
.THIS .ui-datepicker-row-break{clear:both;width:100%;font-size:0}
.THIS .ui-datepicker-rtl{direction:rtl}
.THIS .ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}
.THIS .ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}
.THIS .ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}
.THIS .ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}
.THIS .ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}
.THIS .ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}
.THIS .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.THIS .ui-datepicker-rtl .ui-datepicker-group{float:right}
.THIS .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.THIS .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.THIS .ui-dialog{overflow:hidden;position:absolute;top:0;left:0;padding:.2em;outline:0}
.THIS .ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}
.THIS .ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis}
.THIS .ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:20px;margin:-10px 0 0 0;padding:1px;height:20px}
.THIS .ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:none;overflow:auto}
.THIS .ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}
.THIS .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}
.THIS .ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}
.THIS .ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px}
.THIS .ui-draggable .ui-dialog-titlebar{cursor:move}
.THIS .ui-menu{list-style:none;padding:2px;margin:0;display:block;outline:none}
.THIS .ui-menu .ui-menu{margin-top:-3px;position:absolute}
.THIS .ui-menu .ui-menu-item{margin:0;padding:0;width:100%;list-style-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)}
.THIS .ui-menu .ui-menu-divider{margin:5px -2px 5px -2px;height:0;font-size:0;line-height:0;border-width:1px 0 0 0}
.THIS .ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:2px .4em;line-height:1.5;min-height:0;font-weight:normal}
.THIS .ui-menu .ui-menu-item a.ui-state-focus,.THIS .ui-menu .ui-menu-item a.ui-state-active{font-weight:normal;margin:-1px}
.THIS .ui-menu .ui-state-disabled{font-weight:normal;margin:.4em 0 .2em;line-height:1.5}
.THIS .ui-menu .ui-state-disabled a{cursor:default}
.THIS .ui-menu-icons{position:relative}
.THIS .ui-menu-icons .ui-menu-item a{position:relative;padding-left:2em}
.THIS .ui-menu .ui-icon{position:absolute;top:.2em;left:.2em}
.THIS .ui-menu .ui-menu-icon{position:static;float:right}
.THIS .ui-progressbar{height:2em;text-align:left;overflow:hidden}
.THIS .ui-progressbar .ui-progressbar-value{margin:-1px;height:100%}
.THIS .ui-progressbar .ui-progressbar-overlay{background:url("https://cdn.oneunited.com/images/animated-overlay.gif");height:100%;filter:alpha(opacity=25);opacity:0.25}
.THIS .ui-progressbar-indeterminate .ui-progressbar-value{background-image:none}
.THIS .ui-slider{position:relative;text-align:left}
.THIS .ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default}
.THIS .ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0}
.THIS .ui-slider.ui-state-disabled .ui-slider-handle,.THIS .ui-slider.ui-state-disabled .ui-slider-range{filter:inherit}
.THIS .ui-slider-horizontal{height:.8em}
.THIS .ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left:-.6em}
.THIS .ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.THIS .ui-slider-horizontal .ui-slider-range-min{left:0}
.THIS .ui-slider-horizontal .ui-slider-range-max{right:0}
.THIS .ui-slider-vertical{width:.8em;height:100px}
.THIS .ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}
.THIS .ui-slider-vertical .ui-slider-range{left:0;width:100%}
.THIS .ui-slider-vertical .ui-slider-range-min{bottom:0}
.THIS .ui-slider-vertical .ui-slider-range-max{top:0}
.THIS .ui-spinner{position:relative;display:inline-block;overflow:hidden;padding:0;vertical-align:middle}
.THIS .ui-spinner-input{border:none;background:none;color:inherit;padding:0;margin:.2em 0;vertical-align:middle;margin-left:.4em;margin-right:22px}
.THIS .ui-spinner-button{width:16px;height:50%;font-size:.5em;padding:0;margin:0;text-align:center;position:absolute;cursor:default;display:block;overflow:hidden;right:0}
.THIS .ui-spinner a.ui-spinner-button{border-top:none;border-bottom:none;border-right:none}
.THIS .ui-spinner .ui-icon{position:absolute;margin-top:-8px;top:50%;left:0}
.THIS .ui-spinner-up{top:0}
.THIS .ui-spinner-down{bottom:0}
.THIS .ui-spinner .ui-icon-triangle-1-s{background-position:-65px -16px}
.THIS .ui-tabs{position:relative;padding:.2em}
.THIS .ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0}
.THIS .ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:0;margin:1px .2em 0 0;border-bottom-width:0;padding:0;white-space:nowrap}
.THIS .ui-tabs .ui-tabs-nav .ui-tabs-anchor{float:left;padding:.5em 1em;text-decoration:none}
.THIS .ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:-1px;padding-bottom:1px}
.THIS .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,.THIS .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,.THIS .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{cursor:text}
.THIS .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{cursor:pointer}
.THIS .ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:1em 1.4em;background:none}
.THIS .ui-tooltip{padding:8px;position:absolute;z-index:9999;max-width:300px;-webkit-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa}
.THIS body .ui-tooltip{border-width:2px}
.THIS .ui-widget{font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px}
.THIS .ui-widget .ui-widget{font-size:1em}
.THIS .ui-widget input, .THIS .ui-widget select, .THIS .ui-widget textarea, .THIS .ui-widget button{font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:1em}
.THIS .ui-widget-content{border:1px solid #aaa;background:#fff url("https://cdn.oneunited.com/images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;color:#222}
.THIS .ui-widget-content a{color:#222}
.THIS .ui-widget-header{border:1px solid #0C2D83;background:#0C2D83 url("https://cdn.oneunited.com/images/ui-bg_highlight-soft_30_0C2D83_1x100.png") 50% 50% repeat-x;color:#fff;font-weight:bold}
.THIS .ui-widget-header a{color:#fff}
.THIS .ui-state-default, .THIS .ui-widget-content .ui-state-default, .THIS .ui-widget-header .ui-state-default{border:1px solid #C90;background:#C90 url("https://cdn.oneunited.com/images/ui-bg_highlight-soft_30_CC9900_1x100.png") 50% 50% repeat-x;font-weight:normal;color:#fff}
.THIS .ui-state-default a, .THIS .ui-state-default a:link, .THIS .ui-state-default a:visited{color:#fff;text-decoration:none}
.THIS .ui-state-hover, .THIS .ui-widget-content .ui-state-hover, .THIS .ui-widget-header .ui-state-hover, .THIS .ui-state-focus, .THIS .ui-widget-content .ui-state-focus, .THIS .ui-widget-header .ui-state-focus{border:1px solid #C90;background:#e6af0b url("https://cdn.oneunited.com/images/ui-bg_highlight-soft_30_e6af0b_1x100.png") 50% 50% repeat-x;font-weight:normal;color:#fff}
.THIS .ui-state-hover a, .THIS .ui-state-hover a:hover, .THIS .ui-state-hover a:link, .THIS .ui-state-hover a:visited, .THIS .ui-state-focus a, .THIS .ui-state-focus a:hover, .THIS .ui-state-focus a:link, .THIS .ui-state-focus a:visited{color:#fff;text-decoration:none}
.THIS .ui-state-active, .THIS .ui-widget-content .ui-state-active, .THIS .ui-widget-header .ui-state-active{border:1px solid #0C2D83;background:#fff url("https://cdn.oneunited.com/images/ui-bg_flat_0_ffffff_40x100.png") 50% 50% repeat-x;font-weight:normal;color:#222}
.THIS .ui-state-active a, .THIS .ui-state-active a:link, .THIS .ui-state-active a:visited{color:#222;text-decoration:none}
.THIS .ui-state-highlight, .THIS .ui-widget-content .ui-state-highlight, .THIS .ui-widget-header .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee url("https://cdn.oneunited.com/images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;color:#363636}
.THIS .ui-state-highlight a, .THIS .ui-widget-content .ui-state-highlight a, .THIS .ui-widget-header .ui-state-highlight a{color:#363636}
.THIS .ui-state-error, .THIS .ui-widget-content .ui-state-error, .THIS .ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url("https://cdn.oneunited.com/images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;color:#cd0a0a}
.THIS .ui-state-error a, .THIS .ui-widget-content .ui-state-error a, .THIS .ui-widget-header .ui-state-error a{color:#cd0a0a}
.THIS .ui-state-error-text, .THIS .ui-widget-content .ui-state-error-text, .THIS .ui-widget-header .ui-state-error-text{color:#cd0a0a}
.THIS .ui-priority-primary, .THIS .ui-widget-content .ui-priority-primary, .THIS .ui-widget-header .ui-priority-primary{font-weight:bold}
.THIS .ui-priority-secondary, .THIS .ui-widget-content .ui-priority-secondary, .THIS .ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}
.THIS .ui-state-disabled, .THIS .ui-widget-content .ui-state-disabled, .THIS .ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}
.THIS .ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}
.THIS .ui-icon{width:16px;height:16px}
.THIS .ui-icon, .THIS .ui-widget-content .ui-icon{background-image:url("https://cdn.oneunited.com/images/ui-icons_222222_256x240.png")}
.THIS .ui-widget-header .ui-icon{background-image:url("https://cdn.oneunited.com/images/ui-icons_ffffff_256x240.png")}
.THIS .ui-state-default .ui-icon{background-image:url("https://cdn.oneunited.com/images/ui-icons_ffffff_256x240.png")}
.THIS .ui-state-hover .ui-icon, .THIS .ui-state-focus .ui-icon{background-image:url("https://cdn.oneunited.com/images/ui-icons_ffffff_256x240.png")}
.THIS .ui-state-active .ui-icon{background-image:url("https://cdn.oneunited.com/images/ui-icons_222222_256x240.png")}
.THIS .ui-state-highlight .ui-icon{background-image:url("https://cdn.oneunited.com/images/ui-icons_2e83ff_256x240.png")}
.THIS .ui-state-error .ui-icon, .THIS .ui-state-error-text .ui-icon{background-image:url("https://cdn.oneunited.com/images/ui-icons_cd0a0a_256x240.png")}
.THIS .ui-icon-blank{background-position:16px 16px}
.THIS .ui-icon-carat-1-n{background-position:0 0}
.THIS .ui-icon-carat-1-ne{background-position:-16px 0}
.THIS .ui-icon-carat-1-e{background-position:-32px 0}
.THIS .ui-icon-carat-1-se{background-position:-48px 0}
.THIS .ui-icon-carat-1-s{background-position:-64px 0}
.THIS .ui-icon-carat-1-sw{background-position:-80px 0}
.THIS .ui-icon-carat-1-w{background-position:-96px 0}
.THIS .ui-icon-carat-1-nw{background-position:-112px 0}
.THIS .ui-icon-carat-2-n-s{background-position:-128px 0}
.THIS .ui-icon-carat-2-e-w{background-position:-144px 0}
.THIS .ui-icon-triangle-1-n{background-position:0 -16px}
.THIS .ui-icon-triangle-1-ne{background-position:-16px -16px}
.THIS .ui-icon-triangle-1-e{background-position:-32px -16px}
.THIS .ui-icon-triangle-1-se{background-position:-48px -16px}
.THIS .ui-icon-triangle-1-s{background-position:-64px -16px}
.THIS .ui-icon-triangle-1-sw{background-position:-80px -16px}
.THIS .ui-icon-triangle-1-w{background-position:-96px -16px}
.THIS .ui-icon-triangle-1-nw{background-position:-112px -16px}
.THIS .ui-icon-triangle-2-n-s{background-position:-128px -16px}
.THIS .ui-icon-triangle-2-e-w{background-position:-144px -16px}
.THIS .ui-icon-arrow-1-n{background-position:0 -32px}
.THIS .ui-icon-arrow-1-ne{background-position:-16px -32px}
.THIS .ui-icon-arrow-1-e{background-position:-32px -32px}
.THIS .ui-icon-arrow-1-se{background-position:-48px -32px}
.THIS .ui-icon-arrow-1-s{background-position:-64px -32px}
.THIS .ui-icon-arrow-1-sw{background-position:-80px -32px}
.THIS .ui-icon-arrow-1-w{background-position:-96px -32px}
.THIS .ui-icon-arrow-1-nw{background-position:-112px -32px}
.THIS .ui-icon-arrow-2-n-s{background-position:-128px -32px}
.THIS .ui-icon-arrow-2-ne-sw{background-position:-144px -32px}
.THIS .ui-icon-arrow-2-e-w{background-position:-160px -32px}
.THIS .ui-icon-arrow-2-se-nw{background-position:-176px -32px}
.THIS .ui-icon-arrowstop-1-n{background-position:-192px -32px}
.THIS .ui-icon-arrowstop-1-e{background-position:-208px -32px}
.THIS .ui-icon-arrowstop-1-s{background-position:-224px -32px}
.THIS .ui-icon-arrowstop-1-w{background-position:-240px -32px}
.THIS .ui-icon-arrowthick-1-n{background-position:0 -48px}
.THIS .ui-icon-arrowthick-1-ne{background-position:-16px -48px}
.THIS .ui-icon-arrowthick-1-e{background-position:-32px -48px}
.THIS .ui-icon-arrowthick-1-se{background-position:-48px -48px}
.THIS .ui-icon-arrowthick-1-s{background-position:-64px -48px}
.THIS .ui-icon-arrowthick-1-sw{background-position:-80px -48px}
.THIS .ui-icon-arrowthick-1-w{background-position:-96px -48px}
.THIS .ui-icon-arrowthick-1-nw{background-position:-112px -48px}
.THIS .ui-icon-arrowthick-2-n-s{background-position:-128px -48px}
.THIS .ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}
.THIS .ui-icon-arrowthick-2-e-w{background-position:-160px -48px}
.THIS .ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}
.THIS .ui-icon-arrowthickstop-1-n{background-position:-192px -48px}
.THIS .ui-icon-arrowthickstop-1-e{background-position:-208px -48px}
.THIS .ui-icon-arrowthickstop-1-s{background-position:-224px -48px}
.THIS .ui-icon-arrowthickstop-1-w{background-position:-240px -48px}
.THIS .ui-icon-arrowreturnthick-1-w{background-position:0 -64px}
.THIS .ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}
.THIS .ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}
.THIS .ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}
.THIS .ui-icon-arrowreturn-1-w{background-position:-64px -64px}
.THIS .ui-icon-arrowreturn-1-n{background-position:-80px -64px}
.THIS .ui-icon-arrowreturn-1-e{background-position:-96px -64px}
.THIS .ui-icon-arrowreturn-1-s{background-position:-112px -64px}
.THIS .ui-icon-arrowrefresh-1-w{background-position:-128px -64px}
.THIS .ui-icon-arrowrefresh-1-n{background-position:-144px -64px}
.THIS .ui-icon-arrowrefresh-1-e{background-position:-160px -64px}
.THIS .ui-icon-arrowrefresh-1-s{background-position:-176px -64px}
.THIS .ui-icon-arrow-4{background-position:0 -80px}
.THIS .ui-icon-arrow-4-diag{background-position:-16px -80px}
.THIS .ui-icon-extlink{background-position:-32px -80px}
.THIS .ui-icon-newwin{background-position:-48px -80px}
.THIS .ui-icon-refresh{background-position:-64px -80px}
.THIS .ui-icon-shuffle{background-position:-80px -80px}
.THIS .ui-icon-transfer-e-w{background-position:-96px -80px}
.THIS .ui-icon-transferthick-e-w{background-position:-112px -80px}
.THIS .ui-icon-folder-collapsed{background-position:0 -96px}
.THIS .ui-icon-folder-open{background-position:-16px -96px}
.THIS .ui-icon-document{background-position:-32px -96px}
.THIS .ui-icon-document-b{background-position:-48px -96px}
.THIS .ui-icon-note{background-position:-64px -96px}
.THIS .ui-icon-mail-closed{background-position:-80px -96px}
.THIS .ui-icon-mail-open{background-position:-96px -96px}
.THIS .ui-icon-suitcase{background-position:-112px -96px}
.THIS .ui-icon-comment{background-position:-128px -96px}
.THIS .ui-icon-person{background-position:-144px -96px}
.THIS .ui-icon-print{background-position:-160px -96px}
.THIS .ui-icon-trash{background-position:-176px -96px}
.THIS .ui-icon-locked{background-position:-192px -96px}
.THIS .ui-icon-unlocked{background-position:-208px -96px}
.THIS .ui-icon-bookmark{background-position:-224px -96px}
.THIS .ui-icon-tag{background-position:-240px -96px}
.THIS .ui-icon-home{background-position:0 -112px}
.THIS .ui-icon-flag{background-position:-16px -112px}
.THIS .ui-icon-calendar{background-position:-32px -112px}
.THIS .ui-icon-cart{background-position:-48px -112px}
.THIS .ui-icon-pencil{background-position:-64px -112px}
.THIS .ui-icon-clock{background-position:-80px -112px}
.THIS .ui-icon-disk{background-position:-96px -112px}
.THIS .ui-icon-calculator{background-position:-112px -112px}
.THIS .ui-icon-zoomin{background-position:-128px -112px}
.THIS .ui-icon-zoomout{background-position:-144px -112px}
.THIS .ui-icon-search{background-position:-160px -112px}
.THIS .ui-icon-wrench{background-position:-176px -112px}
.THIS .ui-icon-gear{background-position:-192px -112px}
.THIS .ui-icon-heart{background-position:-208px -112px}
.THIS .ui-icon-star{background-position:-224px -112px}
.THIS .ui-icon-link{background-position:-240px -112px}
.THIS .ui-icon-cancel{background-position:0 -128px}
.THIS .ui-icon-plus{background-position:-16px -128px}
.THIS .ui-icon-plusthick{background-position:-32px -128px}
.THIS .ui-icon-minus{background-position:-48px -128px}
.THIS .ui-icon-minusthick{background-position:-64px -128px}
.THIS .ui-icon-close{background-position:-80px -128px}
.THIS .ui-icon-closethick{background-position:-96px -128px}
.THIS .ui-icon-key{background-position:-112px -128px}
.THIS .ui-icon-lightbulb{background-position:-128px -128px}
.THIS .ui-icon-scissors{background-position:-144px -128px}
.THIS .ui-icon-clipboard{background-position:-160px -128px}
.THIS .ui-icon-copy{background-position:-176px -128px}
.THIS .ui-icon-contact{background-position:-192px -128px}
.THIS .ui-icon-image{background-position:-208px -128px}
.THIS .ui-icon-video{background-position:-224px -128px}
.THIS .ui-icon-script{background-position:-240px -128px}
.THIS .ui-icon-alert{background-position:0 -144px}
.THIS .ui-icon-info{background-position:-16px -144px}
.THIS .ui-icon-notice{background-position:-32px -144px}
.THIS .ui-icon-help{background-position:-48px -144px}
.THIS .ui-icon-check{background-position:-64px -144px}
.THIS .ui-icon-bullet{background-position:-80px -144px}
.THIS .ui-icon-radio-on{background-position:-96px -144px}
.THIS .ui-icon-radio-off{background-position:-112px -144px}
.THIS .ui-icon-pin-w{background-position:-128px -144px}
.THIS .ui-icon-pin-s{background-position:-144px -144px}
.THIS .ui-icon-play{background-position:0 -160px}
.THIS .ui-icon-pause{background-position:-16px -160px}
.THIS .ui-icon-seek-next{background-position:-32px -160px}
.THIS .ui-icon-seek-prev{background-position:-48px -160px}
.THIS .ui-icon-seek-end{background-position:-64px -160px}
.THIS .ui-icon-seek-start{background-position:-80px -160px}
.THIS .ui-icon-seek-first{background-position:-80px -160px}
.THIS .ui-icon-stop{background-position:-96px -160px}
.THIS .ui-icon-eject{background-position:-112px -160px}
.THIS .ui-icon-volume-off{background-position:-128px -160px}
.THIS .ui-icon-volume-on{background-position:-144px -160px}
.THIS .ui-icon-power{background-position:0 -176px}
.THIS .ui-icon-signal-diag{background-position:-16px -176px}
.THIS .ui-icon-signal{background-position:-32px -176px}
.THIS .ui-icon-battery-0{background-position:-48px -176px}
.THIS .ui-icon-battery-1{background-position:-64px -176px}
.THIS .ui-icon-battery-2{background-position:-80px -176px}
.THIS .ui-icon-battery-3{background-position:-96px -176px}
.THIS .ui-icon-circle-plus{background-position:0 -192px}
.THIS .ui-icon-circle-minus{background-position:-16px -192px}
.THIS .ui-icon-circle-close{background-position:-32px -192px}
.THIS .ui-icon-circle-triangle-e{background-position:-48px -192px}
.THIS .ui-icon-circle-triangle-s{background-position:-64px -192px}
.THIS .ui-icon-circle-triangle-w{background-position:-80px -192px}
.THIS .ui-icon-circle-triangle-n{background-position:-96px -192px}
.THIS .ui-icon-circle-arrow-e{background-position:-112px -192px}
.THIS .ui-icon-circle-arrow-s{background-position:-128px -192px}
.THIS .ui-icon-circle-arrow-w{background-position:-144px -192px}
.THIS .ui-icon-circle-arrow-n{background-position:-160px -192px}
.THIS .ui-icon-circle-zoomin{background-position:-176px -192px}
.THIS .ui-icon-circle-zoomout{background-position:-192px -192px}
.THIS .ui-icon-circle-check{background-position:-208px -192px}
.THIS .ui-icon-circlesmall-plus{background-position:0 -208px}
.THIS .ui-icon-circlesmall-minus{background-position:-16px -208px}
.THIS .ui-icon-circlesmall-close{background-position:-32px -208px}
.THIS .ui-icon-squaresmall-plus{background-position:-48px -208px}
.THIS .ui-icon-squaresmall-minus{background-position:-64px -208px}
.THIS .ui-icon-squaresmall-close{background-position:-80px -208px}
.THIS .ui-icon-grip-dotted-vertical{background-position:0 -224px}
.THIS .ui-icon-grip-dotted-horizontal{background-position:-16px -224px}
.THIS .ui-icon-grip-solid-vertical{background-position:-32px -224px}
.THIS .ui-icon-grip-solid-horizontal{background-position:-48px -224px}
.THIS .ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}
.THIS .ui-icon-grip-diagonal-se{background-position:-80px -224px}
.THIS .ui-corner-all, .THIS .ui-corner-top, .THIS .ui-corner-left, .THIS .ui-corner-tl{border-top-left-radius:4px}
.THIS .ui-corner-all, .THIS .ui-corner-top, .THIS .ui-corner-right, .THIS .ui-corner-tr{border-top-right-radius:4px}
.THIS .ui-corner-all, .THIS .ui-corner-bottom, .THIS .ui-corner-left, .THIS .ui-corner-bl{border-bottom-left-radius:4px}
.THIS .ui-corner-all, .THIS .ui-corner-bottom, .THIS .ui-corner-right, .THIS .ui-corner-br{border-bottom-right-radius:4px}
.THIS .ui-widget-overlay{background:#aaa url("https://cdn.oneunited.com/images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30)}
.THIS .ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#aaa url("https://cdn.oneunited.com/images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30);border-radius:8px}
*/   
        .THIS .oneActionsComposer.uiTabset--task .tabs__item a span.title {
            background-color: transparent;
            height: auto;
            
            
        }
        .THIS .title {
            background-color: transparent;
            height: auto;
            
            
        }
        .THIS .container_inner {
            width:auto;
        }
        .THIS .content .content_inner > .container {
            padding-top: 10px;
            
        }
        .THIS button {
            text-shadow:none;
            
        }
        .THIS .advocateHero {
            background-image: url("https://cdn.oneunited.com/images/sf/advocate/advocate_profile_header.png"); 
            z-index: 0; 
            margin-left: 0px; 
            margin-top: 0px;
        }
        

        .THIS .page_header {
                padding: 8px;
                padding-top: 12px;
            background:#ffffff;
            border-bottom: 2px solid #cdcdcd;
            height:
        }

@media (max-width: 1024px) {
    .THIS .mkd_parallax_layers  {
        height: 240px;
    }
}
@media (max-width: 768px) {
    .THIS .mkd_parallax_layers  {
        height: 200px !important;
    }
}
@media (max-width: 568px) {
    .THIS .mkd_parallax_layers  {
        height: 180px !important;
    }
}
@media (max-width: 414px) {
    .THIS .mkd_parallax_layers  {
        height: 140px !important;
    }
}
@media (max-width: 375px) {
    .THIS .mkd_parallax_layers  {
        height: 120px !important;
    }
}
@media (max-width: 340px) {
    .THIS .mkd_parallax_layers  {
        height: 100px !important;
    }
}