@media screen and (max-width: 768px) {
    
    .cBankBlackPaydayToggle .right-align {
        text-align: right;
        align-content: right;
        margin: 0;
        float: right;      
    }
    
    .cBankBlackPaydayToggle .clear-float {
        clear: both;
    }
    
    .cBankBlackPaydayToggle .toggle-msg {
        float: left !important;
    }
}

@media screen and (max-width: 535px) {
  .cBankBlackPaydayToggle .half-cell {
    width: 100%;
    display: block;
    vertical-align: top;
  }
    
  .cBankBlackPaydayToggle .right-align {
    text-align: right;
    align-content: right;
    margin: 0;
    float: right;      
  }
    
  .cBankBlackPaydayToggle .clear-float {
  	clear: both;
  }
}