.THIS {
    min-height: 354px !important;
    min-width: 530px;
    width: 100%;
    padding: 20px 15px 15px 15px;
    background-color: #fff;
    font-family: "Raleway";
    overflow: hidden;
}
.THIS > div {
    text-align: center;
}
.THIS .recentTitle {
    margin: 36px 0 10px 0;
}
.THIS img {
    width: 100%;
}
.THIS .legend span {
    color: #2e6fcc;
    cursor: pointer;
}
.THIS hr {
    margin: 25px 20px 10px;
}
.THIS .congrats {
    font-size: 33px;
    font-family: "Cookie", cursive;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
}
.THIS .congrats, .THIS .about {
    color: #2e6fcc;
}
.THIS .about {
    font-weight: 600;
    cursor: pointer;
}
.THIS a:hover {
    text-decoration: none;
}
.THIS .mobileImg {
    display: none;
}
@media (max-width: 768px) {
    .THIS .webImg {
        display: none;
    }
    .THIS .mobileImg {
        display: block;
        margin: 0 auto 50px;
        width: 75%;
    }
    .THIS .recentTitle {
        margin-top: 0;
    }
    .THIS .congrats {
        font-size: 45px;
    }
}