.THIS {
}
.THIS .description {
    margin: 10px 0 40px !important;
}
.THIS .description,
.THIS .moreTitle {
    text-align: center;
}
.THIS .description,
.THIS .moreDescription {
    color: #808080;
}
.THIS .level {
    width: 230px;
    margin-bottom: 20px;
}
.THIS .level img {
    max-width: 95%;
}
.THIS .level .levelName {
    text-transform: uppercase;
}
.THIS .level .pointsName,
.THIS .level .pointsValue {
    font-weight: 600;
    font-size: 18px;
}
.THIS .level .pointsValue {
    color: #12804B;
}
.THIS .moreTitle {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
}