<apex:page showHeader="true" standardStylesheets="false" sidebar="true" applyHtmlTag="true" applyBodyTag="true" docType="html-5.0" title="Card Ticket Center" standardController="Ticket__c" tabStyle="Ticket__c">   
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">  
    <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    <script src="{!URLFOR($Resource.SVGforEverybody, '')}"></script>
        
    <div class="slds">
        <div class="slds-page-header slds-container--large" role="banner">
          <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
              <div class="slds-media">
                <div class="slds-media__figure">
                  <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-16">
                  <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom96')}"></use>
                  </svg>
                </div>
                <div class="slds-media__body">
                  <p class="slds-text-heading--label"></p>
                  <div class="slds-grid">
                    <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title">Debit/ATM Card Ticket Center</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
          <div class="slds-grid slds-container--large">
            <div class="slds-col slds-has-flexi-truncate slds-box">
                <div class="slds-media slds-tile">
                  <a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5Q&ent=01I500000008jPZ" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-47">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom47')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5Q&ent=01I500000008jPZ" target="_top">Business Debit Application</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p>This is the form for ordering New Business Debit Cards for Current Business Customers who want to add another Card Holder onto their account. Please double check all fields are filled out before submitting the form to Customer Support.</p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>                   
            <div class="slds-col slds-has-flexi-truncate slds-box">
                <div class="slds-media slds-tile">
                  <a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5S&ent=01I500000008jPZ" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-40">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom40')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5S&ent=01I500000008jPZ" target="_top">Consumer Debit Application</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p>This is the form for ordering New Consumer Debit Cards for Current Customers who want a Debit Card for their account. Please double check all fields are filled out before submitting the form to Customer Support.</p>
                    </div>
                  </div>
                  </a>
                </div>
            </div> 
                                 
        </div>
        <div class="slds-grid slds-container--large">
            <div class="slds-col slds-has-flexi-truncate slds-box">
                <div class="slds-media slds-tile">
                  <a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5P&ent=01I500000008jPZ" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-87">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom87')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5P&ent=01I500000008jPZ" target="_top">Consumer ATM Card Request</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p>This is the form for ordering a New Consumer ATM Card for Current Customers who want an ATM Card for their account. Please double check all fields are filled out before submitting the form to Customer Support.</p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
            <div class="slds-col slds-has-flexi-truncate slds-box">
                <div class="slds-media slds-tile">
                  <a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5R&ent=01I500000008jPZ" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-1">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom91')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5R&ent=01I500000008jPZ" target="_top">Existing Card Maintenance</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p>This is the form for requesting maintenance or change of accounts linked to either a Business Debit Card, Consumer Debit Card or ATM Card. Please ensure all required fields are filled out and all branch verification checks have been performed before submitting form to Customer Support.</p>
                    </div>
                  </div>
                  </a>
                </div>
            </div> 
            <div class="slds-col slds-has-flexi-truncate slds-box">
               <div class="slds-media slds-tile  slds-wrap">
                  <a href="/apex/Ticket_Splash">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-16">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom96')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/apex/Ticket_Splash" target="_top" >Ticket Center</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p></p>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="slds-media slds-tile  slds-wrap">
                  <a href="/apex/Debit_ATM_Card_Ticket_List">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-16">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom96')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/apex/Debit_ATM_Card_Ticket_List" target="_top" >Manage Request Tickets</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
         </div>
        <div class="slds-grid slds-container--large">
            <div class="slds-col slds-has-flexi-truncate slds-box">
                <div class="slds-media slds-tile  slds-wrap">
                  <a href="/apex/Department_Controls_Assessment_List">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-report">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#report')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/apex/Department_Controls_Assessment_List" target="_top" >Status of Request Tickets</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <br/><p align="center">
                      <script type="text/javascript">
                           function Test(url){
                                 var url = '/'+url;
                                 window.parent.location.replace(url);
                            }
                        </script>
                        <analytics:reportChart developerName="Debit_ATM_Card_Request_Center_Status" size="small" /> 
                        </p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
         </div>
        <div class="slds-grid slds-container--large slds-wrap">
            <div class="slds-col slds-has-flexi-truncate slds-box">
                <div class="slds-media slds-tile  slds-wrap">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-report">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#report')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate">My Recent Tickets</p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <br/>
                      <iframe src="/apex/Recent_Tickets" width="100%" height="500">
                     </iframe>
                    </div>
                  </div>
                </div>
            </div>
         </div>
         
    </div>        
    <script>svg4everybody();</script>
</html>    
</apex:page>