<apex:page showHeader="true" standardStylesheets="false" sidebar="true" applyHtmlTag="true" applyBodyTag="true" docType="html-5.0" tabStyle="Ticket__c">   
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">  
    <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    <script src="{!URLFOR($Resource.SVGforEverybody, '')}"></script>
    
    <div class="slds">
        <div class="slds-page-header" role="banner">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-wrap slds-m-bottom--small">
                <div class="slds-media slds-tile  slds-wrap">
                  <a target="_top" href="/apex/Debit_ATM_Card_Ticket_List">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-16 slds-icon--small">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom96')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-tile__detail slds-text-body--small">
                      <p><a href="/apex/Debit_ATM_Card_Ticket_List" target="_top" >Manage Tickets</a></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
            <div class="slds-col slds-wrap slds-m-bottom--small">
                <div class="slds-media slds-tile">
                  <a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5Q&ent=01I500000008jPZ" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-47 slds-icon--small">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom47')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-tile__detail slds-text-body--small">
                      <p><a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5Q&ent=01I500000008jPZ" target="_top">New Business Debit</a></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
            
            <div class="slds-col slds-wrap slds-m-bottom--small">
                <div class="slds-media slds-tile">
                  <a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5S&ent=01I500000008jPZ" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-40 slds-icon--small">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom40')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-tile__detail slds-text-body--small">
                      <p><a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5S&ent=01I500000008jPZ" target="_top">New Consumer Debit</a></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
          
            <div class="slds-col slds-wrap slds-m-bottom--small">  
                <div class="slds-media slds-tile">
                  <a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5P&ent=01I500000008jPZ" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-87 slds-icon--small">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom87')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-tile__detail slds-text-body--small">
                      <p><a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5P&ent=01I500000008jPZ" target="_top">New ATM Card</a></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
            
            <div class="slds-col slds-wrap slds-m-bottom--small">  
                <div class="slds-media slds-tile">
                  <a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5R&ent=01I500000008jPZ" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-custom-1 slds-icon--small">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom91')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-tile__detail slds-text-body--small">
                      <p><a href="/a0V/e?retURL=%2Fa0V%2Fo&RecordType=012380000009w5R&ent=01I500000008jPZ" target="_top">Existing Card Maint.</a></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
            
        </div>
    </div>
    <apex:insert name="MainBody"/>    
    </div>
    
    
    <script>svg4everybody();</script>
</html>
</apex:page>