<apex:page sidebar="false" standardController="Ticket__c" extensions="Community_Room_Registration" showHeader="false" standardStylesheets="true" title="OneUnited Community Room">
	
    <apex:composition template="website_template">
    	<apex:define name="MainTitle">Community Room Registration</apex:define>
        <apex:define name="MainBody">
        
            <script type="text/javascript">
                function showHideOverlock(show, forceShowSwirl, transparentLock)
                {
                    var o = document.getElementById('divOverlocker');
                    if(o != null){
                        if(forceShowSwirl){
                            var o2 = document.getElementById('ActionStatusContainer');
                            var z2 = o2.getElementsByTagName('span');
                            var i2 = 0;
                            for(i2 = 0; i2 < z2.length; i2++){
                                z2[i2].style.display = 'block';
                            }                   
                        }
                        if(show){
                            o.className = 'divOverlockClass';
                            if(transparentLock == 1){
                                o.className = 'divOverlockClass divOverlockClass2';
                            }
                            o.focus();
                        }else{
                            o.className = 'displayNone';                        
                        }
                    }
                }
                
                function startOfActionStatus1(forceShowSwirl)
                {
                    application_can_submit = false;
                    showHideOverlock(true);
                    if(forceShowSwirl == 1){
                        var o = document.getElementById('ActionStatusContainer');
                        var z = o.getElementsByTagName('span');
                        var i = 0;
                        for(i = 0; i < z.length; i++){
                            z[i].style.display = 'block';
                        }                   
                    }
                }
                
                function stopOfActionStatus1()
                {
                    showHideOverlock(false);
                }
                
                function initialHideOverlock()
                {
                    var o = document.getElementById('divOverlocker');
                    if(o != null){
                        o.className = 'displayNone';
                    }
                }
                
                function submitForm ()
                {
                    startOfActionStatus1 (1) ;
                    submitFormFunction () ;
                }  
            </script>
			<script type="text/javascript">
            jQuery(document).ready( function() {
				$j('[id$=pickDate]').datepicker({
				dateFormat: "mm/dd/yy"
				});
				
				$j('[id$=State__c]').val ('CA') ;
			});
			</script>
			
            <span id="ActionStatusContainer" >
                <apex:actionStatus onstart="javascript:startOfActionStatus1();" startText="" id="navigationLoadingStatus" startStyleClass="navigationLoadingStatus" onstop="javascript:stopOfActionStatus1();" />
            </span>

            <div id="divOverlocker" class="divOverlockClass">&nbsp;</div>
            
            <!-- Form output panel -->
			<apex:outputPanel id="formPanelMatch" rendered="{!cmStepNumber == 1000 || cmStepNumber == 1001}">
	            <h2><img class="alignright wp-image-5473 size-medium" src="https://www.oneunited.com/core/content/uploads/2015/02/community-room-300x200.jpg" alt="OneUnited Bank Community Room " width="300" height="200" />OneUnited Bank Community Room</h2>
	            <br/>
	            3683 Crenshaw Blvd<br/>
	            Los Angeles, CA  90016<br/>
	            <br/>
	            OneUnited Bank is making the Community Room at it's Crenshaw Branch in Los Angeles available to organizations for meetings. (Maximum seating 25 people)<br/><br/>
	            If interested, please provide the information below. We will get back to you shortly.<br/>
				<br/>
				
				<div class="form_container">
					<div class="innerformcontainer">
						<apex:form id="communityRoomForm">
				            <apex:actionFunction name="submitFormFunction" action="{!submitTicket}"/>
							<div class="apexp">
								<div class="bPageBlock brandSecondaryBrd bDetailBlock secondaryPalette">
									<div class="pbBody">
										<!--  Start Form  -->
										<div class="secure_icon">This is a secure form</div>
										<br/><br/>
										<div class="customsectiontitleTop">
											<span class="required">( * ) required</span>
										</div>
										
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
											<h2>Organization Information</h2><hr/>
											<div class="input_description"></div>
											</div>
										</div>
										<apex:outputPanel id="error00" rendered="{!cmStepNumber == 1001}">
											<div class="customfieldcontainer">
												<div class="custominputfieldcontainer four_cell">
													<apex:outputText style="color:red;" value="Please correct the following:"/>
												</div>
											</div>
										</apex:outputPanel>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputField value="{!ticket.Name_of_Organization__c}" id="Name_of_Organization__c" html-placeholder="Name of Organization &lowast;"/>
												<apex:outputPanel id="error01" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Name_of_Organization__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputField value="{!ticket.Mission_Statement__c}" id="Mission_Statement__c" html-placeholder="Mission Statement"/>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputField value="{!ticket.Street_Address__c}" id="Street_Address__c" html-placeholder="Street Address &lowast;"/>
												<apex:outputPanel id="error02" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Street_Address__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer two_cell_short">
												<apex:inputField value="{!ticket.City__c}" id="City__c" html-placeholder="City &lowast;"/>
												<apex:outputPanel id="error03n" rendered="{!cmStepNumber == 1000}">
													<div class="input_description">&nbsp;</div>
												</apex:outputPanel>
												<apex:outputPanel id="error03y" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['City__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer one_cell_short">
												<apex:inputField value="{!ticket.State__c}" id="State__c" html-placeholder="State &lowast;"/>
												<apex:outputPanel id="error04n" rendered="{!cmStepNumber == 1000}">
													<div class="input_description">State</div>
												</apex:outputPanel>
												<apex:outputPanel id="error04y" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['State__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer one_cell_short">
												<apex:inputField value="{!ticket.Zip_Code__c}" id="Zip_Code__c" html-placeholder="Zip &lowast;"/>
												<apex:outputPanel id="error05n" rendered="{!cmStepNumber == 1000}">
													<div class="input_description">&nbsp;</div>
												</apex:outputPanel>
												<apex:outputPanel id="error05y" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Zip_Code__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputField value="{!ticket.Organization_Website__c}" id="Organization_Website__c" html-placeholder="Organization Website"/>
											</div>
										</div>
										
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
											<h2>Contact Information</h2><hr/>
											<div class="input_description"></div>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer two_cell">
												<apex:inputField value="{!ticket.First_Name__c}" id="First_Name__c" html-placeholder="First Name &lowast;"/>
												<apex:outputPanel id="error06" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['First_Name__c']}" />
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer two_cell last">
												<apex:inputField value="{!ticket.Last_Name__c}" id="Last_Name__c" html-placeholder="Last Name &lowast;"/>
												<apex:outputPanel id="error07" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Last_Name__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputField value="{!ticket.Phone__c}" id="Phone__c" html-placeholder="Phone Number &lowast;"/>
												<apex:outputPanel id="error08" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Phone__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputField value="{!ticket.Email_Address__c}" id="Email_Address__c" html-placeholder="Email Address"/>
												<apex:outputPanel id="error09" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Email_Address__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputText value="{!confirmEmail}" id="confirmEmail" html-placeholder="Confirm Email"/>
												<apex:outputPanel id="error10" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['confirmEmail']}"/>
												</apex:outputPanel>
											</div>
										</div>
										
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
											<h2>Event Information</h2><hr/>
											<div class="input_description"></div>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer two_cell">
												<apex:inputText value="{!pickDate}" id="pickDate" html-placeholder="Date Requested *"/>
												<apex:outputPanel id="error11n" rendered="{!cmStepNumber == 1000}">
													<div class="input_description">Please choose a future date not on a Sunday.</div>
												</apex:outputPanel>
												<apex:outputPanel id="error11y" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Date_Requested__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer two_cell last">
												<apex:inputField value="{!ticket.Number_of_People_Expected__c}" id="Number_of_People_Expected__c" html-placeholder="# of People &lowast;"/>
												<apex:outputPanel id="error16n" rendered="{!cmStepNumber == 1000}">
													<div class="input_description">Maximum of 25.</div>
												</apex:outputPanel>
												<apex:outputPanel id="error16y" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Number_of_People_Expected__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer two_cell">
												<apex:inputField value="{!ticket.Beginning_Time__c}" id="Beginning_Time__c" html-placeholder="Beginning Time &lowast;"/>
												<apex:outputPanel id="error12n" rendered="{!cmStepNumber == 1000}">
													<div class="input_description">Please choose a beginning time.</div>
												</apex:outputPanel>
												<apex:outputPanel id="error12y" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Beginning_Time__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer two_cell last">
												<apex:inputField value="{!ticket.Ending_Time__c}" id="Ending_Time__c" html-placeholder="Ending Time &lowast;"/>
												<apex:outputPanel id="error13n" rendered="{!cmStepNumber == 1000}">
													<div class="input_description">Please choose a ending time.</div>
												</apex:outputPanel>
												<apex:outputPanel id="error13y" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Ending_Time__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputField value="{!ticket.Other_Options_for_Dates__c}" id="Other_Options_for_Dates__c" html-placeholder="Other Options for Dates"/>
											</div>
										</div>
 										
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputField value="{!ticket.Purpose_of_Meeting__c}" id="Purpose_of_Meeting__c" html-placeholder="Purpose of Meeting &lowast;"/>
												<apex:outputPanel id="error15" rendered="{!cmStepNumber == 1001}">
													<apex:outputText style="color:red; font-size:12px;" value="{!errorMap['Purpose_of_Meeting__c']}"/>
												</apex:outputPanel>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
											Please check all that apply:
											<div class="input_description"></div>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer one_cell">
												<apex:inputField value="{!ticket.Food_being_Served__c}" id="Food_being_Served__c" html-placeholder="Food Served"/>
												<div class="input_description">Food being Served</div>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer one_cell">
												<apex:inputField value="{!ticket.Are_you_a_Non_Profit__c}" id="Are_you_a_Non_Profit__c" html-placeholder="Non-Profit"/>
												<div class="input_description">Non-profit</div>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer one_cell">
												<apex:inputField value="{!ticket.Are_you_a_OneUnited_Bank_Customer__c}" id="Are_you_a_OneUnited_Bank_Customer__c" html-placeholder="Current Customer"/>
												<div class="input_description">OneUnited Bank Customer</div>
											</div>
										</div>
										
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
											<h2>Comments</h2><hr/>
											<div class="input_description"></div>
											</div>
										</div>
										<div class="customfieldcontainer">
											<div class="custominputfieldcontainer four_cell">
												<apex:inputField value="{!ticket.Description__c}" id="Description__c" html-placeholder="Comments / Questions?"/>
											</div>
										</div>
										
										<!--  Submit  -->
										<div class="submit_form">
											<a class="form_button" onclick="JavaScript:submitForm();">SUBMIT</a>
											<div class="secure_icon">This is a secure form</div>
										</div>
										<!--  End Form  -->
									</div>
								</div>
							</div>
						</apex:form>
					</div>
				</div>
	            <div class="clear">&nbsp;</div>
				
				<br/>
				What will be required to book the room<br/>
				<ul>
				<li>Tax ID Number</li>
				<li>Certificate of Liability Insurance</li>
				<li>A $100 refundable cleaning deposit (money order) for each meeting. If the room is clean when you depart, we will refund the deposit within one week.</li>
				</ul>
				
				Hours<br/>
				7 AM - 6 PM Monday - Thursday<br/>
				7 AM - 7 PM - Friday<br/>
				8 AM - 2 PM - Saturday<br/>
				<br/>
				(On Monday - Friday, evening hours up to 10 PM may be available for a fee for after-hour security. Larger space - for more than 25 attendees - may also be available.  The Community Room may also be available for recurring meetings. Please call us at 877-663-8648 for these types of requests.)
				
			</apex:outputPanel>
        
            <!-- Success output panel -->
			<apex:outputPanel id="successPanelMatch" rendered="{!cmStepNumber == 2000}">
				<p>Thank you for your interest in booking the OneUnited Bank Community Room located at 3683 Crenshaw Blvd Los Angeles, CA 90016 for your event on <apex:outputText value="{!ticket.Date_Requested__c}"/>. 
				We are reviewing your request and will respond within 24 to 48 business hours.</p>
				
				<p>Thank you,</p>
				
				<p>OneUnited Bank</p>
			</apex:outputPanel>
        
            <script type="text/javascript" >
                setTimeout ( 'initialHideOverlock();', 2000 ) ;
            </script>
            
        </apex:define>
    </apex:composition>
</apex:page>