<apex:page showHeader="true" standardStylesheets="false" sidebar="true" applyHtmlTag="true" applyBodyTag="true" docType="html-5.0" title="Department Controls Assessment Page" standardController="Department_Controls_Assessment__c" tabStyle="Vendor_Management__tab">   
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">  
    <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    <script src="{!URLFOR($Resource.SVGforEverybody, '')}"></script>
        
    <div class="slds">
    
            <apex:composition template="Vendor_Management_Feed_NavH">
                <apex:define name="MainBody" >
                
                    <div class="slds-page-header" role="banner">
                      <div class="slds-grid">
                        <div class="slds-col slds-has-flexi-truncate">
                          <div class="slds-media">
                            <div class="slds-media__figure">
                              <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-standard-report">
                              <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#report')}"></use>
                              </svg>
                            </div>
                            <div class="slds-media__body">
                              <p class="slds-text-heading--label">Vendor Management</p>
                              <div class="slds-grid">
                                <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title">Department Controls Assessment</h1>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <apex:enhancedList type="Department_Controls_Assessment__c" height="800" rowsPerPage="200"  />
                </apex:define>
            </apex:composition>
    </div>        
    <script>svg4everybody();</script>
</html>    
</apex:page>