<apex:page standardController="Deposit_Application__c" extensions="Deposit_Application_Send_Info_Email" standardStylesheets="true" action="{!sendEmail}">

 	<apex:sectionHeader title="Deposit Application Information Send Email"/>
	<apex:outputPanel >
		<h1>Email Sent.</h1>
	</apex:outputPanel>
   	
</apex:page>