<apex:page standardController="Vendor_Management__c" extensions="VendorFileController" showHeader="false">
<head></head>
<body>
<apex:outputPanel id="validMatch" rendered="{!mode == 0}">
<iframe frameborder="no" height="195px" id="01N500000000de4" src="{!url}?vendorId={!Vendor_Management__c.GLBA_Vendor_ID__c}&administrator={!isAdministrator}" title="Files" width="95%"></iframe>
</apex:outputPanel>
<apex:outputPanel id="missingData" rendered="{!mode == 500}">
	<p>Lookup ID is missing from this record.</p>
</apex:outputPanel>
<apex:outputPanel id="noAccess" rendered="{!mode == 999}">
	<p>You do not have access to this area of the application.</p>
</apex:outputPanel>
</body> 
</apex:page>