<apex:page sidebar="true" standardController="one_application__c" extensions="one_application_integration_test" showHeader="true" standardStylesheets="true" title="FIS Integration Tester">
	<apex:outputPanel id="loginInputs" rendered="true">
		<apex:form >
			<apex:pageBlock title="Login Information" mode="detail" tabstyle="one_application__c">
				<apex:pageBlockSection columns="2">
					<apex:pageBlockSectionItem >
						<apex:outputText value="User name :"/>
						<apex:inputText value="{!userName}" id="username"/>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputText value="Password :"/>
						<apex:inputText value="{!password}" id="password"/>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputText value="Endpoint :"/>
						<apex:inputText value="{!endpoint}" id="endpoint"/>
					</apex:pageBlockSectionItem>
				</apex:pageBlockSection>
	            <apex:pageBlockButtons >
	                <apex:commandButton action="{!testFISLogin}" value="FIS Login"/>
	            </apex:pageBlockButtons>
	        </apex:pageBlock>
        </apex:form>
	</apex:outputPanel>

	<apex:outputPanel id="loginResults" rendered="{!authPanel == true}">
		<apex:pageBlock title="Login Response" mode="detail" tabstyle="one_application__c">
		<apex:pageBlockSection columns="2">
			<apex:pageBlockSectionItem >
				<apex:outputText value="Response :"/>
				<apex:outputText value="{!authResponse}"/>
			</apex:pageBlockSectionItem>
			<apex:pageBlockSectionItem >
				<apex:outputText value="Error :"/>
				<apex:outputText value="{!authError}"/>
			</apex:pageBlockSectionItem>
		</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:outputPanel>
</apex:page>