<apex:page standardController="Financial_Account__c" sidebar="false" showHeader="false" showChat="false" standardStylesheets="true" title="FinancialAccount Associated Offers" doctype="html-5.0">
    <apex:outputPanel id="FA_C" rendered="{!Financial_Account__c.TAXRPTFORPERSNBR__r != null}">
        <c:Offer_Bar rec="{!Financial_Account__c.TAXRPTFORPERSNBR__r}"/>
    </apex:outputPanel>
    <apex:outputPanel id="FA_O" rendered="{!Financial_Account__c.TAXRPTFORPERSNBR__r == null && Financial_Account__c.TAXRPTFORORGNBR__r != null}">
        <c:Offer_Bar rec="{!Financial_Account__c.TAXRPTFORORGNBR__r}"/>
    </apex:outputPanel>
    <apex:outputPanel id="FA_NYET" rendered="{!Financial_Account__c.TAXRPTFORPERSNBR__r == null && Financial_Account__c.TAXRPTFORORGNBR__r == null}">
        <p>There is no Contact or Organization associated with this account.</p>
    </apex:outputPanel>
</apex:page>