<apex:page standardController="Ticket__c" applyHtmlTag="{!applyHTMLTag}" applyBodyTag="{!applyBodyTag}" sidebar="false" showHeader="false" extensions="one_application_batch_download" standardStylesheets="false" action="{!goDownload}" cache="false" contentType="{!contentType}">
<apex:repeat value="{!fileLineList}" var="fileLine" id="theRepeat" rendered="{!externalFileDownload == false}">{!fileLine}</apex:repeat>
<apex:outputLink value="{!fileURL}" rendered="{!externalFileDownload == true}">Click this link to Download</apex:outputLink> 
</apex:page>