<apex:page sidebar="false"  showHeader="false" standardStylesheets="true" title="UNITY Visa Apply" >
    <apex:composition template="one_application_template">
        <apex:define name="MainBody" >
            <div style="padding-left: 30px;width: 600px;">
                <br/>
                <div class = "customsectiontitleTop">
                	<h1>Let’s take this offline</h1>
                </div>
                <P>We're sorry but our online application is not available in your situation. Here's why:</P>
                <P>You have decided not to receive required disclosures electronically.</P>
                <P>If you have further questions, please contact us at 877-663-8648.</P>
            </div>
        </apex:define>
    </apex:composition>
</apex:page>