<apex:page standardController="Account">
<head></head>
<body>
<table cellpadding="0" cellspacing="0" class="m_6617171389269757708stylingblock-content-wrapper" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody>
        <tr>
            <td class="m_6617171389269757708stylingblock-content-wrapper m_6617171389269757708camarker-inner" style="border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <table cellpadding="0" cellspacing="0" class="m_6617171389269757708socialshare-wrapper" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <tbody>
                    <tr>
                        <td style="border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <table align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody>
                                <tr>
                                    <td align="center" style="border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <table class="m_6617171389269757708socialshare-innertable" style="display: inline-block;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 5px 5px;border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a href="https://www.facebook.com/oneunitedbank" style="color: #336699;font-weight: normal;text-decoration: underline;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" target="_blank"><img alt="Facebook" class="CToWUd" height="24" src="https://cdn.oneunited.com/images/campaign/social/facebook-icon.png" style="display: block;width: 24px!important;height: 24px!important;border: 0;line-height: 100%;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="24"/></a></td>
                                                <td style="padding-right: 5px;border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a href="https://www.facebook.com/oneunitedbank" style="text-decoration: none;font-family: Arial,Helvetica,sans-serif;font-size: 10px;color: #333333;font-weight: normal;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" target="_blank">Facebook</a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="m_6617171389269757708socialshare-innertable" style="display: inline-block;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 5px 5px;border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a href="https://www.twitter.com/oneunited" style="color: #336699;font-weight: normal;text-decoration: underline;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" target="_blank"><img alt="Twitter" class="CToWUd" height="24" src="https://cdn.oneunited.com/images/campaign/social/twitter-icon.png" style="display: block;width: 24px!important;height: 24px!important;border: 0;line-height: 100%;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="24"/></a></td>
                                                <td style="padding-right: 5px;border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a href="https://www.twitter.com/oneunited" style="text-decoration: none;font-family: Arial,Helvetica,sans-serif;font-size: 10px;color: #333333;font-weight: normal;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" target="_blank">Twitter</a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="m_6617171389269757708socialshare-innertable" style="display: inline-block;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 5px 5px;border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a href="https://www.instagram.com/oneunited/" style="color: #336699;font-weight: normal;text-decoration: underline;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" target="_blank"><img alt="Instagram" class="CToWUd" height="24" src="https://cdn.oneunited.com/images/campaign/social/instagram-icon.png" style="display: block;width: 24px!important;height: 24px!important;border: 0;line-height: 100%;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="24"/></a></td>
                                                <td style="padding-right: 5px;border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a href="https://www.instagram.com/oneunited/" style="text-decoration: none;font-family: Arial,Helvetica,sans-serif;font-size: 10px;color: #333333;font-weight: normal;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" target="_blank">Instagram</a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="m_6617171389269757708socialshare-innertable" style="display: inline-block;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 5px 5px;border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a href="https://www.youtube.com/oneunitedbank" style="color: #336699;font-weight: normal;text-decoration: underline;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" target="_blank"><img alt="YouTube" class="CToWUd" height="24" src="https://cdn.oneunited.com/images/campaign/social/youtube-icon.png" style="display: block;width: 24px!important;height: 24px!important;border: 0;line-height: 100%;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="24"/></a></td>
                                                <td style="padding-right: 5px;border-collapse: collapse;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a href="https://www.youtube.com/oneunitedbank" style="text-decoration: none;font-family: Arial,Helvetica,sans-serif;font-size: 10px;color: #333333;font-weight: normal;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" target="_blank">YouTube</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>


<a class="twitter-timeline" href="https://twitter.com/oneunited">Tweets by oneunited</a> <script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!--
<iframe frameborder="0" height="325" id="01N500000000de4" 
src="https://portal.oneunited.local/intranet/special_links/tweets.asp" 
title="My Inbox" width="100%"></iframe>
-->
</body> 
</apex:page>