<apex:page standardController="Account">
<head></head>
<body>
<iframe frameborder="no" style="overflow: hidden; height: 98%;
        width: 99%; position: absolute;" height="98%" width="99%"  id="01N500000000de4" 
src="https://portal.oneunited.local/intranet/application/my_menu_sf.asp?application_list_cd=MT" 
title="My Tools"></iframe>
</body> 
</apex:page>