<apex:page showHeader="true" standardStylesheets="false" sidebar="true" applyHtmlTag="true" applyBodyTag="true" docType="html-5.0" tabStyle="Vendor_Management__c">   
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">  
    <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    <script src="{!URLFOR($Resource.SVGforEverybody, '')}"></script>
    
    <div class="slds">
        <div class="slds-page-header" role="banner">
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-col--padded slds-size--1-of-1">
                <div class="slds-media slds-tile">
                  <a href="/apex/Vendor_List" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-groups">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#groups')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/apex/Vendor_List" target="_top">Vendors</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-truncate"><!-- Could Add Number of Records --></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
            
            <div class="slds-col--padded slds-size--1-of-1">
                <div class="slds-media slds-tile">
                  <a href="/apex/Vendor_Contract_List" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-record">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#record')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/apex/Vendor_Contract_List" target="_top">Contracts</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-truncate"><!-- Could Add Number of Records --></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
          
            <div class="slds-col--padded slds-size--1-of-1">  
                <div class="slds-media slds-tile">
                  <a href="/apex/Controls_Assessment_List" target="_top">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-report">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#report')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/apex/Controls_Assessment_List" target="_top">Vendor Control Assessments</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-truncate"><!-- Could Add Number of Records --></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
            
            <div class="slds-col--padded slds-size--1-of-1">
                <div class="slds-media slds-tile  slds-wrap">
                  <a target="_top" href="/apex/Department_Controls_Assessment_List">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-report">
                      <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#report')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-tile__title slds-truncate"><a href="/apex/Department_Controls_Assessment_List" target="_top" >Department Control Assessments</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-truncate"><!-- Could Add Number of Records --></p>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
        </div>
    </div>
    <apex:insert name="MainBody"/>    
    </div>
    
    
    <script>svg4everybody();</script>
</html>
</apex:page>