/* This icon stuff to change the fill doesn't work :(( */
.cBankBlackPaydayDirectDeposit .icon lightning-primitive-icon svg, .cBankBlackPaydayDirectDeposit .icon svg, .cBankBlackPaydayDirectDeposit .icon>svg, .cBankBlackPaydayDirectDeposit .icon>lightning-primitive-icon>svg, .cBankBlackPaydayDirectDeposit .icon>lightning-primitive-icon>svg>use>svg, .cBankBlackPaydayDirectDeposit .icon>lightning-primitive-icon>svg>use>svg>path, .cBankBlackPaydayDirectDeposit .icon path{
    fill: #0055CC !important;
}

.cBankBlackPaydayDirectDeposit .icon {
    color: #666 !important;
    font-size: 16px !important;
}

@media screen and (max-width: 425px) {
    .cBankBlackPaydayDirectDeposit .half-cell {
        width: 100%;
        display: block !important;
        vertical-align: top;
    }
    
    .cBankBlackPaydayDirectDeposit button {
        line-height: 1.6 !important;
    }
}