.THIS .modal-body {
	padding: 0;
}
.THIS .modal-header {
	font-size: 16px;
    font-weight: bold;
}
.THIS .slds-button {
	color: #2e6fcc;
	border-radius: 0;
	font-weight: 400;
}
.THIS .slds-button_brand, .THIS .slds-button--brand {
	background-color: #2e6fcc;
    border-color: #2e6fcc;
    color: #fff;
    text-shadow: none;
}
.THIS .mainPhoto {
	text-align: center;
	margin: 20px;
}
.THIS .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.THIS .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}