.THIS {
    min-height: 217px;
    min-width: 530px;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    font-family: "Raleway";
    overflow: hidden;
}
.THIS h1, .THIS h2 {
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}
.THIS h1 {
    margin-bottom: 5px;
    font-size: 32px !important;
    letter-spacing: 1px;
}
.THIS h1 span {
    text-transform: uppercase;
    color: #2e6fcc;
    margin-left: auto;
}
.THIS h2, .THIS .urlLink {
    font-size: 18px;
}
.THIS h2 {
    margin-bottom: 0px;
}
.THIS .hint {
    font-size: 14px;
}