.THIS {
    width: 100%;
    padding: 15px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.THIS > div {
    text-align: center;
}
.THIS .recentTitle {
    margin: 0 0 25px 0;
}
.THIS .listingWrapper {
    padding: 0 10px;
}
.THIS .listing span {
    text-align: center;
    margin-top: 5px;
}
.THIS .listing lightning-formatted-number {
    color: #2e6ecc;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}
.THIS .earnMore {
    margin-top: auto;
}
.THIS .earnMore,
.THIS .earnMore a {
    color: #2e6fcc;
    font-weight: 600;
}
.THIS .earnMore a:hover {
    text-decoration: none;
}
.THIS .actionscb {
    margin-top: 6px;
}