.THIS {
    padding: 20px;
}
.THIS .description {
    margin: 10px 0 30px !important;
}
.THIS .description,
.THIS .moreTitle {
    text-align: center;
}
.THIS .description,
.THIS .moreDescription {
    color: #808080;
}
.THIS .reward {
    width: 150px;
    height: 182px;
    margin: 20px;
    cursor: pointer;
}
.THIS .reward img {
    max-width: 95%;
}
.THIS .reward .rewardName {
    text-transform: uppercase;
    margin-top: auto;
    text-align: center;
}
.THIS .moreTitle {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
}
.THIS .optionsCB {
    margin-right: 50px;
}
@media (max-width: 767px) {
    .THIS .optionsCB {
        margin-right: 0;
    }
}
.THIS .noRwdYet {
    padding: 40px 0;
}