.cCard_stock_order_v2 button .slds-button .slds-button_icon {
    margin: 0 !important;
}

.cCard_stock_order_v2 button .slds-button .slds-button_neutral {
    width: 100%;
}

.cCard_stock_order_v2 .selected>div {
    border-color:#d19c00;
    font-size: 14px;
    background-image:-webkit-linear-gradient(top, #c58e01 0%, #976d01 100%);
    background-image:-o-linear-gradient(top, #c58e01 0%, #976d01 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#c58e01), to(#976d01));
    background-image:linear-gradient(to bottom, #c58e01 0%, #976d01 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c58e01', endColorstr='#c58e01', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color:#c58e01;
    color:#fff
}

.cCard_stock_order_v2 .selected {
    border-color:#d19c00;
}

.cCard_stock_order_v2 tr {
    display: inline-block !important;
    width: 50%;
    align-content: center !important;
    text-align: center !important;
}

.cCard_stock_order_v2 div.select {
    border: 1px solid; 
    padding: 5px 0; 
    font-size: 14px !important;
}

.cCard_stock_order_v2 .button-menu-error {
    border: 1px solid #c23933 !important;
}

.cCard_stock_order_v2 .error-msg {
    font-size: 14px; 
    color: #c23933; 
    padding: 0 0px 15px;
}

@media screen and (max-width: 768px) {
    .cCard_stock_order_v2 .slds-form-element__label {
        display: none !important;
    }
    
    .cCard_stock_order_v2 .slds-cell-wrap::before {
        max-width: 125px;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .cCard_stock_order_v2 .di-container {
        box-shadow:0 1px 3px 0 rgba(0,0,0,0.45) !important;
        background-color:#fff !important;
        padding: 15px 0 20px 0 !important;
    }
    
    .cCard_stock_order_v2 div .title, .cCard_stock_order_v2 div .additional-info  {
        padding: 0 15px 15px 15px !important;
    }
    
    .cCard_stock_order_v2 div .additional-info  {
        font-size: 1em;
    }
        
    .cCard_stock_order_v2 .half-cell {
        width: 100%;
        display: block;
        vertical-align: top;
    }
    
    .cCard_stock_order_v2 .error-msg {
        padding: 0 15px 15px;
    }
    
    .cCard_stock_order_v2 .slds-cell-wrap::before {
        max-width: 200px !important;
        width: 50%;
        text-align: right;
    }
}

@media screen and (max-width: 575px) {
    .cCard_stock_order_v2 div .select  {
        border: 1px solid; 
        padding: 5px 0; 
        font-size: 0.9em;
    }
}

@media screen and (max-width: 450px) {
    .cCard_stock_order_v2 .title {
        line-height: 1.2 !important;
    }
}

@media screen and (max-width: 475px) {
    .cCard_stock_order_v2 div .select  {
        border: 1px solid; 
        padding: 5px 0; 
        font-size: 0.85em !important;
    }
}