.THIS {
}
.THIS .detailText > * {
    padding: 10px;
}
.THIS .detailText h2 {
    font-weight: 600;
}
.THIS .detailText p {
    color: #808080;
}
.THIS .closeBtn {
    margin-left: auto;
}
.THIS .value {
    text-align: center;
    font-size: 60px !important;
    line-height: unset;
    margin: 30px 0 10px;
}
.THIS .value + p {
    text-align: center;
    font-style: italic;
    color: #263982;
    font-weight: 600;
    margin-left: 50px;
}
.THIS .bdg-points-def {
    color: #263982 !important;
    font-weight:600;
    font-size:1.1em;
    font-style: italic;
    text-align: right;
}
@media (max-width:768px) {
    .THIS .detailText > * {
        text-align: center;
    }
    .THIS .closeBtn .blueActionBtn {
        margin-left: auto;
        margin-right: auto;
    }
    .THIS .value + p {
        margin-left: 0;
    }
}